# dependencias
node_modules/

# relatorios mocha
mochaawesome-report

# relatorios cucumber
cypress/reports/index.html
cypress/reports/index.html.json

# videos
cypress/videos

# outros
.DS_Store





